div.container {
    display: table;
    width: 100%;
    margin-top: 5%;
}

div.container > div { //table rows
    display: table-row;
    width: 100%;
}

.table-col {
    display: table-cell;
    width: 20%;
    padding:1em;
    text-align: left;
}

div.table-row:nth-child(even) {
    background-color: #EFEFEF;
}

div.table-row:nth-child(odd) {
    background-color: #BEBEBE;
}

#buttons-header {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.floating-button {
    width: 50%;
    float: left;
    text-align: center;
}

.floating-button > input {
    width: 100%;
    height: 100%;
    display: block;
}

.floating-button > div {
    display: inline-block;
}

// is it better to use div.container > div for referring to table rows or is it better to use separate class for that as in 'table-row'?

// how to run a function on loading the page? Only one time. That time.

// var or let inside functions?
